
    .box {
     
      border: 25px solid #333;
      padding: 10px;
      background-color: #f9f9f9;
      height: 500px;
      width: 500px;
    }

    img {
      float: left;
      width: 100px;
      height: 1000px;

    }

    .text {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333;
    }
  