#parent{
     display:flex;
     justify-content: center;
     align-items: center;
}

#main_box{
    height:700px;
    width:600px;
    border:3px solid #000;
    padding-left:20px;
    text-align:center;
        background-color: #ff6b08;
}

#box1{
    height:550px;
    width:400px;
    border:3px solid #000;
    padding-left:1px;
    margin-left: 80px;
    margin-top: 50px;
        background-color: #05d2f2;
}

h3{
    color:rgb(225, 12, 12)
}

h5{
    height:25px;
    width:100px;
    background-color: rgb(0, 76, 254);
    color: aliceblue;
    margin-left: 150px;
    padding-top:10px;
}