body {
  
  background: rgb(196, 157, 157);
  padding: 20px;
  color: rosybrown;
}

form {
  background: skyblue;
  padding: 50px;
  width: AUTO;
  margin: 500px;
  height: 500PX;

}

input, select {
  width: 100%;
  margin: 20px 2px;
  padding: 20px;
  color: rgb(27, 27, 8);
}

button {
  padding: 8px 16px;
  margin: 10px;
}